$white: #ffffff;
$black: #000000;

$gray-100: #e1e1e6;
$gray-300: #c4c4cc;
$gray-400: #8d8d99;
$gray-600: #323238;
$gray-700: #29292e;
$gray-800: #202024;
$gray-900: #121214;

$green-300: #00B37E;
$green-500: #00875f;

$red-500: #F75A68;

// Body
$body-bg: $gray-600;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
